/*#buttons-view {
    border: 5px solid blue;
}
#animals-view {
    border: 5px solid yellow;
}
#animal-form {
    border: 5px solid red;
}
*/
.animal-btn {
    margin: 5px;
}
.animal-img {
    margin: 10px;
}